.header{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("assets/h_img.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 200px;
}
.mouseclick{
    padding-top: 80px;
    animation: jump 2s infinite;
}
@keyframes jump{
    0%{
        transform: translateY(0);
    }
    25%{
        transform:translateY(0);
    }
    40%{
        transform: translateY(-55px);
    }
    50%{
        transform: translateY(0);
    }
    60%{
        transform: translateY(-45px);
    }
    75%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-45px);
    }
}
.aboutus{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px;
}
.aboutus>p{
    font-weight: lighter;
    font-size: 16px;
}
.services{
    background-image: url("assets/s_image.jpg");
    background-size: cover;
    text-align: center;
    color: white;
    font-size: 18px;
    padding: 100px;
}
.services>h2{
    padding-top: 10px;
    margin-bottom: -16px;
}
.services>p{
    line-height: 10px;
    font-weight: 500
}
.whatwedo>h2{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.whatwedo{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.container-fluid{
    background-image: url("assets/c_image.jpg");
    padding-top: 50px;
}
.container-fluid>h2{
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    text-align: center;
}
.form-group{
    display: flex;
    flex-direction: row;
    padding: 20px;
    background: transparent;
    color: white;
}
input[type=text],input[type=email],#message{
    background: transparent;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.form-control::-webkit-input-placeholder{
    color: white;
}
#name{
    padding-right: 20px;
}